# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/

# Ignore dynamically generated or sensitive files
*.txt
*.pdf
# Optional: Ignore environment variable files (if you have one)
.env

# Production builds
PowerPal.spec
build/
dist/
